@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Dirooz";
    src: local("Dirooz") ,url("./fonts/Dirooz.ttf") format("truetype");
    font-weight: normal;
}



*{
    font-family: Dirooz !important;
}